/*

	Date: 22.03.2021
	Author: Jakub Štellner

*/

/* Import */
/*@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');*/


#hp {
	background: url(../images/bcg.png);
	background-repeat: no-repeat;
	background-size: cover;
}
#hp h2 {
	color: #FEE10D;
	font-size: 60px;
	text-align: center;
}
img {
	max-width: 100%;
}

.header {
	padding: 25px 0;
	margin: 0 25px;
	margin-right: 40px;
	position: relative;
}
.menu-header {
	position: absolute;
	right: 30px;
	top: 30px;
	height: 0;
}
@media only screen and (min-width: 1400px) {
	.container {
		max-width: 1400px;
	}

}



.navbar-navs {
	padding: 0;
	list-style: none;
	position: relative;
	z-index: 50;
}
.navbar-navs .navbar-item .navbar-link {
	color: white;
	font-weight: 500;
	font-size: 20px;
}
.menu-icon {
	display: flex;
	flex-direction: column;
	display: none;
}
.menu-icon span {
	width: 26px;
	background: #305F43;
	margin: 2px 0;
	display: block;
	border: 2px solid #305F43;
	border-radius: 50px;
}
.menu-icon span:first-child {
	margin-top: 0;

}
.menu-icon span:last-child {
	margin-bottom: 0;
}

@media only screen and (max-width: 1200px) {
	.menu-icon {
		display: flex;
	}
  .menu-header {
		position: unset;
		top: unset;
		right: unset;
		height: 0px;
		opacity: 0;
		overflow: hidden;
		padding: 0;
		margin: 0;
	}
	.menu-header.open {
		opacity: 1;
		height: 100%;
		width: 100%;
		padding: 10px 0;
		margin: 0 10px;

	}
	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 0;
		margin: 0 10px;
	}
	#hp h2 {
		font-size: 36px;
	}
}
@media only screen and (max-width: 600px) {
	.navbar-brand {
		max-width: 200px;
	}
}
/* START SECTION */
.start-section__content {
	position: relative;
	max-width: 1650px;
	z-index: 5;

}
.start-section__text {
	position: absolute;
	top: 10%;
	left: 0;
	padding: 40px;
	width: 100%;
}
.start-section__text h1 {
	font-size: 120px;
	color: #FB5C29;
	font-weight: 400;
	width: 100%;
	max-width: 700px;
	line-height: 1.1;
	position: relative;
z-index: 40;
}
.start-section__text p {
	color: white;
	font-size: 30px;
	max-width: 800px;
	transform: translateX(75%);
    margin-top: -75px;
}
.start-section__text .click-link {
	margin-left: auto;
	width: fit-content;
	transform: translateX(-100px);
	display: flex;
	align-items: center;
}
.start-section__text .click-link span {
	color: #FEE10D;
	font-size: 30px;
	margin-right: 20px;
}
.click-link img{
	transition: 1s all;
}
.click-link:hover img {
	transform: rotate(360deg);
}
.start-section__content:after {
	content: url(../images/landing_microherb_1.png);
	position: absolute;
	left:30px;
	bottom: -52%;
}
.start-section__content:before {
	content: url(../images/landing_microherb_2.png);
	position: absolute;
	left: 20%;
	top: -5%;
}
.listik {
	position: absolute;
	right: 10%;
	top: 0;
	z-index: -1;
}
.start-section {
	padding-bottom: 150px;
}
@media only screen and (max-width: 1600px) {
	.start-section__text h1 {
		font-size: 100px;
	}
	.start-section__content p {
		transform: translateX(70%);
	}
}

@media only screen and (max-width: 1450px) {
	.start-section__text h1 {
		font-size: 75px;
	}
	.start-section__text p {
		transform: none;
		margin-top: 20px;

	}
	.start-section__text {
		min-height: 500px;
	}
	.landing_pink_bcg {
		display: none;
	}
	.start-section__text .click-link {
		transform: none;
		margin: 0;
		margin-top: 20px;
	}
	.start-section__text {
		padding: 60px 50px;
		position: unset;
		top: unset;
		left: unset;
		background: url(../images/landing_pink_bcg.png);
		background-size: cover;
		background-repeat: no-repeat;
		min-height:  500px;
	}
	.start-section__text p {
		margin: 40px 0px;
		position: relative;
		z-index: 10;
	}
	.start-section__content:after, .start-section__content:before {
		display: none;
	}
	.listik {
		z-index: 5;
		right: 10%;
		top: 10px;
		width: 400px;

	}
	.start-section__content {
		padding-bottom: 100px;
	}
	.start-section {

    overflow: hidden;

	}
}


.videos {
	padding: 70px 0;
}
.videos p {
	color: white;
	text-align: center;
	font-size: 20px;
	padding-top: 40px;
}

.seznam {
	padding: 70px 0;
}
.seznam-content {
	padding-top: 40px;
}
.seznam__item--icon {
	width: 100px;
	justify-content: center;
	align-content: center;
	display: flex;
	padding-right: 20px;
}
.seznam-item {
	margin: 40px 0;
	display: flex;
	align-items: center;
	color: white;
	font-size: 30px;

}
@media only screen and (max-width: 1200px) {
	.start-section {
		padding: 0;
	}
}
@media only screen and (max-width: 991px) {
	.listik {

		display: none;
	}
	.seznam-item {
		flex-direction: column;
		text-align: center;
	}
	.seznam-item .seznam__item--text {
		margin-top: 15px;
		font-size: 22px;
	}
}




/* produkty */
#produkty {
	background: white;
	position: relative;
	z-index: 1;
}
#produkty:after {
	content: "";
	background: url(../images/portfolio_pattern.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 800px;
	width: 250px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: -1;
}

#produkty p {
	color: #305F43;
}
#produkty {
	position: relative;
}
#produkty:after {

}
.sub .navbar-navs .navbar-item .navbar-link {
	color: #8CCAA8;
	position: relative;
	padding-left: 30px;
	text-decoration: none;
}
.sub .navbar-navs .navbar-item .navbar-link.active, .sub .navbar-navs .navbar-item .navbar-link:hover {
	color: #305F43;
}
.sub .navbar-navs .navbar-item .navbar-link.active:after, .sub .navbar-navs .navbar-item .navbar-link:hover:after  {
	content: "";
	height: 25px;
	width: 4px;
	background: #305F43;
	position: absolute;
	left: 0;
	top: 2px;
}
#produkty h1 {
	font-size: 72px;
	color: #FB5C29;
	padding-top: 10px;
	padding-bottom: 25px;
}
.prehled-detailu-text p {
	color: #305F43;
	font-size: 16px;
}
.navigation-products {
	padding: 40px 0 60px 0;
}
.navigation-products ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: fit-content;
	justify-content: center;
	padding: 0;
}
.prehled-info-text p {
	margin: 0;
}
.navigation-products ul li {
	position: relative;
	margin: 25px;
	margin-left: 0;
	padding-bottom: 15px;
}
.navigation-products ul li.active:after, .navigation-products ul li:hover:after {
	content: '';
	width: 80%;
	height: 4px;
	background: #305F43;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.navigation-products ul li a {
	color: #8CCAA8;
	position: relative;
	text-decoration: none;
	font-weight: 600;
	font-size: 20px;
}
.navigation-products ul li.active a, .navigation-products ul li:hover a {
	color: #305F43;
}

.prehled-detailu-obsah {
	padding: 30px 0;
	background: url(../images/portfolio_text_bcg.png);
	background-repeat: no-repeat;
	background-size: contain;
	flex: 0 0 50%;
	max-width: 50%;
	position: relative;
	width: 100%;
	min-height: 1px;
}

.prehled-detailu-info{
	flex: 0 0 50%;
	justify-content: flex-start;
	display: flex;
	align-items: flex-start;
	padding: 50px;
	max-width: 50%;
	position: relative;
	width: 100%;
	min-height: 1px;
	flex-wrap: wrap;
}
.prehled-detailu-content {
	display: flex;
	min-height: 500px;
	flex-wrap: wrap;
}
.prehled-detailu-text {
	max-width: 650px;
	margin-left: auto;
}
.prehled-detailu .main__image {
	position: absolute;
	left: 30px;
	top: -50px;
}
.prehled-info-item {
	display: flex;
	padding: 10px 90px;
}
.prehled-info-text {
	font-size: 16px;
	margin-left: 25px;
}
.prehled-info-icon {
	width: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media only screen and (max-width: 1750px) {

		.prehled-info-item {
			padding: 10px 40px;
		}
}


@media only screen and (max-width: 1550px) {
	.prehled-detailu-obsah {
		flex: 0 0 65%;
		max-width: 65%;
	}
	.prehled-detailu-info {
		flex: 0 0 35%;
		max-width: 35%;
	}
}
@media only screen and (max-width: 1200px) {
	#produkty:after {
		display: none;
	}
	.prehled-detailu-obsah {
		flex: 0 0 100%;
		max-width: 100%;
		min-height: 402px;
		background-size: cover;
	}
	.prehled-detailu-info {
		flex: 0 0 100%;
		max-width: 100%;
		margin-top: 40px;
	}
	.prehled-detailu-text {
		margin: auto;
	}
}

@media only screen and (max-width: 1100px) {
	.prehled-detailu-obsah {
		min-height: inherit;
		background-size: contain;
		padding: 30px;
	}
	.prehled-detailu-text {
		display: flex;
		flex-direction: column;
		max-width: 650px;
		margin-top: 50px;
		padding-bottom: 40px;
	}
	.prehled-detailu-text h1 {
		order: 1;
	}
	.prehled-detailu-text .show-real {
		order: 2;
	}
	.prehled-detailu-text p {
		order: 3;
		margin-top: 150px;
	}
}
@media only screen and (max-width: 1000px) {

	.prehled-detailu .main__image {
		left: inherit;
		right: 20px;
	}
	.prehled-detailu-info {
		margin: 0;
		padding-top: 0;
	}
	.prehled-info-item {
		padding: 10px;
	}
}

@media only screen and (max-width: 700px) {

	.prehled-detailu .main__image {
		max-width: 200px;
	}
	.prehled-detailu-text {
		margin-top: 0
	}
}
@media only screen and (max-width: 500px) {

	.navigation-products ul {
		justify-content: center;
	}

	#produkty h1 {
		font-size: 42px;
margin-top: 10px;
padding: 0;
	}
	.prehled-detailu .main__image {
		max-width: 140px;
	}
	.prehled-detailu-info {
		padding: 10px;
	}
}
@media only screen and (max-width: 350px) {
	.prehled-detailu-text p {
		margin-top: 50px;
	}

}



.other-plants {
		padding-bottom: 50px;
}
.plant-item {
	text-align: center;
	display: block;
	text-decoration: none;
	max-width: fit-content;
	padding: 10px 40px;
}
.plant-item:hover {
	text-decoration: none;
}
.plant-item span {
	margin-bottom: 20px;
	font-size: 30px;
	display: block;
}
.plant-item.yellow span {
	color: #FEE10D;
}
.plant-item.pink span {
	color: #FA8FB2;
}
.plant-item.green span {
	color: #8CCAA8;
}
.other-plants-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {

	.plant-item {
		margin: auto;
	}
}


#herbashare {
	background: url(../images/bcg_herbashare.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

#herbashare .navbar-navs .navbar-item .navbar-link {
	color: white;
}
#herbashare .navbar-navs .navbar-item .navbar-link.active, #herbashare .navbar-navs .navbar-item .navbar-link:hover {
    color: #305F43;
}

#map-left {
	position: fixed;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	height: 650px;
	background: green;
	z-index: 99;
	display: flex;
	background: white;
	-webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.25);
	max-height: 80%;
}
.map-left-content {
	display: none;
}
iframe {
	max-width: 100%;
	max-height: 100%;
}

.map-left-heading {
	width: 100%;
	height: 100%;
	font-weight: 500;
	cursor: pointer;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	display: flex;
  align-items: center;
  justify-content: flex-end;
	padding: 20px;
	color: #305F43;
}
.map-left-heading span {
	color: #305F43;
	margin-bottom: 20px;
	font-size: 20px;
}
.map-left-heading img {
	transform: rotate(180deg);
}
#map-left.open .map-left-heading img {
	transform: rotate(0deg);
}
#map-left.open .map-left-heading {
	width: unset;
}
#map-left.open {
	width: 90%;
}
.map {
	width: 70%;
}
#map-left.open .map-left-content {
	display: flex;
	width: 100%;
}
.map-info {
	padding: 25px 40px;
	overflow: auto;
}
.map-info h2 {
	font-size: 24px;
}
#herbashare .map-info p {
	color: black;
	font-size: 16px;
}
#herbashare ul {
	list-style: none;
	padding: 0;
}
.map-info h3 {
	font-size: 20px;
}
.map-info  table td:first-child {
	   padding-right: 25px;
}
.fridge-white-box {
	margin-top: 0px;
}

#herbashare h1 {
	font-size: 72px;
	color: #FA8FB2;
	padding-bottom: 20px;
}
#herbashare p {
	font-size: 20px;
	color: #305F43;
}
.fridge-white-box {
	position: relative;
	padding-bottom: 150px;
}
.fridge-bacground {
	position: absolute;
	z-index: 1;
}
.fridge-text-content {
	position: relative;
	z-index: 2;
	padding: 160px 80px;
}
.fridge-text-content .head {
	max-width: 600px;
}

.desc {
	display: flex;
	flex-wrap: wrap;
	padding-top: 30px;
}
.desc__item {
	display: flex;
	margin: 30px;
}
.desc__item:first-child {
	margin-left: 0px;
}
.desc_text {
	color: #8CCAA8;
	margin-left: 15px;
}


.links {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.links__item {
	display: flex;
	align-items: center;
	margin: 30px;
}
.links__item:first-child {
	margin-left: 0;
}
.links__item--text a {
	margin-left: 15px;
	color: #305F43;
	font-size: 20px;
}


#firemni-herbashare {
	position: fixed;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	z-index: 99;
	display: flex;
	max-height: 80%;
	padding-left: 20px;
	height: 416px;
}
.firma-heading {
	width: 100%;
	height: 100%;
	font-weight: 500;
	cursor: pointer;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	display: flex;
  align-items: center;
  justify-content: flex-end;
	padding: 20px;
	color: #305F43;
	background: url(../images/bcg_firemni_HS.png);
	background-size: cover;
	padding-left: 30px;
}
.firma-heading span {
	color: #305F43;
	margin-bottom: 20px;
	font-size: 20px;
}
.firma-content {
	display: none;
	padding: 10px;
}
#firemni-herbashare.open {
	width: 90%;
	height: 650px;
	background: white;
}
#firemni-herbashare.open .firma-content {
	display: flex;
	padding: 25px 40px;
    overflow: auto;
		width: 100%;
}
#firemni-herbashare.open .firma-heading {
	width: unset;
	height: unset;
	background: white;

}
#firemni-herbashare.open .firma-heading img {
	transform: rotate(180deg);
}

.icon-tr {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.icon-tr_image {
	height: 35px;
	display: flex;
	align-items: flex-end;
	margin-bottom: 10px;
}
.firma-content td {
	border: none;
	padding: 5px 20px;
    text-align: center;
		color: #8CCAA8;
}
.firma-content td:first-child {
	text-align: left;
}
.firma-content tbody td:last-child {
		color: #305F43;
		font-weight: 500;

}
.firma-content tbody tr:last-child td {
	color: #305F43;
	padding-top: 25px;
	font-weight: 500;
}
.table-right {
	width: 100%;
}
.firma-content .firma-links {
	padding: 40px;
}
#herbashare .firma-content .firma-links p  {
	font-size: 14px;
}
.firma-links-nav {
	display: flex;
	flex-direction: column;
}
.firma-links-nav a {
	color: #305F43;
	font-size: 20px;
	position: relative;
	display: block;
	margin: 10px 0px;
	padding-bottom: 5px;
	width: fit-content;
}
.firma-links-nav a:after {
	content: "";
	width: 100%;
	height: 3px;
	background: #305F43;
	position: absolute;
	left: 0;
	bottom: 0;
}
@media only screen and (max-width: 700px) {
	#firemni-herbashare {
		padding-left: 0;
	}
	.firma-content .firma-links {
		padding: 0;
	}
	#firemni-herbashare.open .firma-content {
		padding: 10px;
	}
	.firma-content td {
		font-size: 12px;
	}
	#firemni-herbashare .firma-heading {
		background: white;
		padding-left: 10px;
	}
	.map-left-heading img, #firemni-herbashare.open .firma-heading img {
		width: 18px;
	}
		.map-left-content {
			flex-direction: column;
		}
		#firemni-herbashare.open .firma-content {
			flex-direction: column;
		}
		.map {
			width: 100%;
			height: 200px;
		}
		.map-info h2 {
			font-size: 20px;
		}
		.map-info p, .map-info td {
			font-size: 13px;
		}
		.map-info {
			padding: 15px 20px;
		}
		#map-left, #firemni-herbashare {
			max-height: 40%;

		}
		.map-left-heading span, .firma-heading span {
			font-size: 12px;
		}
		.map-left-heading, .firma-heading {
			padding: 10px;
			justify-content: space-between;
		}
		#map-left.open, #firemni-herbashare.open {
			max-height: 80%;
		}
		#map-left.open 	.map-left-heading, #firemni-herbashare .opem .firma-heading {
			justify-content: flex-end;
		}
}
.head.mobile {
	display: none;
}
@media only screen and (max-width: 1500px) {
	.fridge-text-content {
		padding: 120px 60px;
	}
	#herbashare h1 {
		font-size: 52px;
	}
	#herbashare p {
		font-size: 16px;
	}
	.fridge-text-content {
		max-width: 700px;
	}
	.fridge-white-box {
		min-height: unset;
	}
}
@media only screen and (max-width: 1300px)  {
	.links__item {
		margin: 20px;
	}
	.desc {
		padding: 0;
	}
}
@media only screen and (max-width: 1150px)  {
	.fridge-text-content {
		padding: 80px 40px;
		max-width: 650px;
	}
	.desc__icon {
		width: 50px;
		display: flex;
		align-items: center;
	}
	.desc_text {
		font-size: 14px;
	}
	.head p {
		max-width: 500px;
	}
}
@media only screen and (max-width: 1100px)  {
	.fridge-text-content .head  {
		display: none;
	}
	.head.mobile {
		display: block;
	}
	#herbashare h1 {
		font-size: 72px;
		color: white;
	}

}

@media only screen and (max-width: 900px)  {
	.desc__item {
		margin: 10px 0;
	}
	.desc {
		flex-direction: column;
	}
	.fridge-white-box {
		padding: 0;
	}
}
@media only screen and (max-width: 750px)  {
	 .links {
		 padding-top: 100px;
	 }
	 .fridge-text-content {
		     padding: 60px 30px;
	 }
}
@media only screen and (max-width: 550px)  {
	.desc__icon {
		width: 40px;
	}
	.desc_text {
		font-size: 12px;
	}
	.links {
		padding-top: 60px;
	}
	.fridge-text-content {
		padding: 50px 30px;
	}
	.head.mobile {
		padding: 40px 0px;
	}
}
@media only screen and (max-width: 450px) {
		#herbashare h1 {
			font-size: 50px;
		}
		.links__item {
			margin-left: 0;
		}
		.links {
			flex-direction: column;
		}
		.desc_text {
			font-size: 9px;
		}
		#herbashare p {
			font-size: 14px;
		}
		.fridge-text-content {
			padding: 20px;
		}
		.links {
			padding-top: 40px;
		}
}


.recepty-content {
	padding: 100px 0px;
}
.recepty-item h2 {
	color: #FB5C29;
	font-size: 48px;
	padding-bottom: 20px;
}
.recepty-item__content {
	padding-left: 25px;
	color: #305F43;
}
.recepty-item__content p {
	color: #305F43;
}
.recepty-item__content h3 {
	color: #FB5C29;
	font-size: 16px;
}
.recepty-item__content ul {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
	padding: 0;
}
.recepty-item__content ul li {
	display: flex;
}
.recepty-item__content ul li span {
	display: block;
	width: 50%;
	color: #305F43;
}
.suroviny {
	width: 70%;
}
.recepty-stats {
	display: flex;
	flex-wrap: wrap;
	padding: 10px 0px;
}
.recepty-stats-item {
	display: flex;
	font-size: 16px;
	color: #8CCAA8;
	line-height: 1;
	margin: 10px 25px;
}
.recepty-stats-text {
	line-height: 0.75;
}
.recepty-stats-item .recepty-stats-text span {
	font-size: 27px;
	color: #8CCAA8;
	display: block;
}
.recepty-stats-image {
	padding-right: 15px;
}
.recepty-item {
	margin-bottom: 65px;
}
#recepty {
	position: relative;
	z-index: 2;
}
@media only screen and (min-width: 1200px) {
	#recepty:after {
		content: url(../icons/left-r.svg);
		position: absolute;
		left: 0;
		top: 20%;
		z-index: -1;

	}
	#recepty:before{
		content: url(../icons/right-r.svg);
		position: absolute;
		right: 0;
		top: 40%;
		z-index: -1;

	}
}


@media only screen and (max-width: 991px) {
	.recepty-video {
		padding-bottom: 25px;
		text-align: left;
	}
	.recepty-item__content {
		padding: 0;
	}
	.recepty-content {
		padding: 25px 0px;
	}
	.recepty-item {
		margin-bottom: 35px;
	}
}

#herbahelp {
	background: url(../images/bcg_herbahelp.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.herbahelp {
	padding: 100px 0
}
#herbahelp .navbar-link {
	color: white;
}
#herbahelp.sub .navbar-navs .navbar-item .navbar-link.active, #herbahelp.sub .navbar-navs .navbar-item .navbar-link:hover {
	color: #305F43;
}
.herbahelp-item-text h2 {
	font-size: 48px;
	color: #305F43;
}
.herbahelp-item-text {
	padding-right: 30px;
}
.herbahelp-item-text span {
	font-size: 12px;
	color: #FA8FB2;
}
.herbahelp-item-text p {
	padding-top: 25px;
	font-size: 16px;
	color: #305F43;
}
.next_info {
	padding-top: 20px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.next_info span {
	font-size: 20px;
	color:#305F43;
	margin-right: 20px;
}
.herbahelp-item {
	margin: 60px 0px;
}
.herbahelp-item:first-child {
	margin-top: 0;
}

@media only screen and (max-width: 991px) {
	.herbahelp {
		padding: 20px 0px;
	}
	.herbahelp-item-text {
		padding: 0;
	}
}



footer a, footer p, footer a:hover, span  {
	color: #8CCAA8;
}
footer {
	background: url(../images/footer_bcg.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 70px 100px;
	padding-bottom: 0;
}
footer .logo-section {
	display: flex;
	flex-direction: column;
}
footer .logo-section a {
	display: block;
	margin: 15px 0px;
}
footer .logo-section a:first-child {
	margin-top: 0;
}
footer .footer__menu {
	list-style: none;
	padding: 0;
	line-height: 1.5;
	width: fit-content;
}
footer .footer__menu li a {
	color: 16px;
	color: #8CCAA8;
}
footer .footer__email {
	display: flex;
	align-items: center;
}
footer .footer__email .footer__email--icon {
	margin-right: 10px;
}
footer .social__footer {
	display: flex;
	align-items: center;
	padding-top: 30px;

}
footer .footer__info {
	padding: 0 40px;
	border-right: 2px solid #8CCAA8;
	border-left: 2px solid #8CCAA8;
}
footer .social__footer span {
	margin-right: 20px;
}
footer .social__footer .social_wrap {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
footer .social__item {
	display: block;
	margin: 5px;
}
footer .top-footer {
	border-bottom: 2px solid #8CCAA8;
	padding-bottom: 50px;
}
footer .bottom-footer {
	padding: 20px 0px;
}
footer .bottom-footer ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
footer .bottom-footer ul li {
	color: #8CCAA8;
	margin: 0 10px;
}
@media only screen and (max-width: 991px) {
	footer .bottom-footer ul {
		flex-direction: column;
	}
	.me {
		display: none;
	}
	footer .footer__info {
		padding: 0;
		border: none;
		margin: 30px 0px;
	}
	.videos {
 	 padding: 30px 0px;
  }
	.start-section__content {
		padding-bottom: 10px;
	}
	.start-section {
		padding-bottom: 0;
	}
}
@media only screen and (max-width: 600px) {
 footer {
	 padding: 30px 10px;
 }
 footer .social__footer {
	 flex-direction: column;
	 justify-content: flex-start;
	 align-items: flex-start;
 }
 .videos {
	 padding: 20px 0px;
 }
 .start-section__text h1 {
	 font-size: 40px;
 }
 .start-section__text p {
	 font-size: 16px;
 }
}
